.App{
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  width: 100%;
  background-color: rgb(18, 18, 64);
  color: white;
  padding: 10px;
  margin: 10px;
}

.cards{
  align-items: center;
}
button{
  margin: 2px;
}